.container
{
    position: relative;
    flex: row;
    justify-items: auto;
    justify-content: center;

}
.icon
{
    color: rgb(231, 208, 208);
    margin-right: 5px;
}

.inputForm{
  display: flex;
  align-items: center;
  border: 5px solid #0c0909;
  
  border-radius: 25px;
  overflow: hidden;
  background: white;
 
}

.Searchbar
{
    position: relative;
    height: 37px;
    width: 600px;
    color: rgb(21, 19, 19);
    background-color: rgb(249, 250, 250);
    font-size: large;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.Searchbar::content
{
    position: relative;

}

.theButton{
    position: relative;
    color: rgb(0, 0, 0);
    height: 45px;
    width: 100px;
    background-color: transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    
}


.theButton:hover
{
    background-color: #1e6e86;
    height: 50px;
    width: 120px;
}